* { margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
max-width: 1380px;
margin: auto;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 3;
}

header .container {
padding: 40px 0;
display: flex;
justify-content: space-between;
align-items: center;
}


.mobile-menu-button {
width: 50px;
height: 50px;
display: none;
}    

nav {
margin-left: 120px;
}



header .nav-flex .logo img{
max-width: 100%;
}
.nav-flex,
header ul {

display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
}

ul li {
margin-left: 40px;
font: 400 19px 'Roboto', sans-serif;
line-height: 32px;
letter-spacing: 0.36px;
color: #274C5B;
max-width: 100%;
}

nav ul li:last-child {
margin-left: 60px;
}

ul li:active {
color: #7EB693;
}

ul li:first-child {
margin-left: 0;
}

.trolley-button {
padding: 20px 37px 20px 85px;
background: url(./images/circle-with-trolley.svg);
background-position: 7%;
background-repeat: no-repeat;
border: 1px solid #D4D4D4;
border-radius: 33px;
font: 400 17px 'Roboto', sans-serif;
line-height: 29px;
text-decoration: none;
color: #274C5B;
}


.view-products-button {
display: inline-block;
padding: 25px 71px 25px 33px;
background: url(./images/circle+arrow.svg) no-repeat 95%;
background-color: #EFD372;
border-radius: 16px;
font: 400 19px 'Roboto', sans-serif;
line-height: 32px;
text-decoration: none;
color: #274C5B;
margin-top: 30px;
text-align: center;
}

.products-of-special-prices .yellowtail
{ font: 400 36px 'Yellowtail', cursive;
line-height: 65px;
letter-spacing: 0.36px;
color: #7EB693;
}


.products-of-special-prices .product-windows {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 42px;
}

.offer {
text-align: left;
color: #274C5B;
background-color: #F9F8F8;
transition: .5s;
border-radius: 30px;
padding: 30px;
margin-bottom: 20px;
width: 447px;
height: 590px;
overflow: hidden;
}

.offer:hover {
transform: scale(105%)
}

.product-classified-button:active{
background-color: white;
color: #274C5B;
padding: 10px 50px;
border-radius: 15px;
}
.buy {
  background-color: white;
  padding: 10px 50px;
  border-radius: 15px;
  color: black;
  background-color: white;
}

.offer img {
width: 100%;
}

.product-classified-button {
display: inline-block;
text-align: center;
padding: 5px 20px;
background-color: #274C5B;
color: white;
text-decoration: none;
border-radius: 8px;
font: 700 15px 'Open Sans', sans-serif;
line-height: 27px;
letter-spacing: 0.36px;
}

.product-windows p {
font: 400 22px 'Roboto', sans-serif;
line-height: 35px;
letter-spacing: 0.36px;
padding-bottom: 10px;
border-bottom: 1px solid #D4D4D4;
}

.product-data {
display: flex;
justify-content: space-between;
align-items: stretch;
padding-top: 10px;
line-height: 32.50px;
letter-spacing: 0.36px;

}

.product-data .actual-prices {
display: flex;
justify-content: space-between;
align-items: center;
}

.product-data .price {
color: #B8B8B8;
font: 400 17px 'Open Sans', sans-serif;
text-decoration: none;
}

.product-data a,
.statistics .circle p {
color: #274C5B;
font: 700 18px 'Open Sans', sans-serif;
line-height: 32px;
letter-spacing: 0.36px;
text-decoration: none;

}

.product-data .actual-prices a {
margin-left: 10px;
}

.product-data .evaluation-stars {
display: flex;
}

.product-data .evaluation-stars a img {
width: 100%;
}

.products-of-special-prices {
background-color: #274C5B;
}

.products-of-special-prices .container {
padding: 139px 0 160px;
}

.products-of-special-prices h2 {
color: white;
}

.products-of-special-prices .flex-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.products-of-special-prices .product-windows{
flex-wrap:wrap;
justify-content: space-around;
}
.view-products-button {
margin-top: 0px;
}

footer{
  background-color: #274C5B;
  padding-bottom:20px ;
  text-align:center;
}









/* TROLLey */
.modal-window{
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1;
}

.body{
  position: fixed;
 
}
.shopping-cart {
    width: 650px;
    max-height: 1423px;
    margin:  80px auto;
    background: #7EB693;;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: black;
    font-size: 20px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 130px;
    display: flex;
    flex-direction: row;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  .modal__close{
    padding-left:630px;
  }
  
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url("./images/cross.png") no-repeat center;
  }
   
  .like-btn {
    position: absolute;
    top: 25px;
    left: 35px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }

  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;
   
  }
   
  .img{
    min-width: 20px;
    min-height: 20px;
    width: 80px; 
    height: 100px;}

  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  .shopping-cart-sum {

  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }