.auto {
    height: 530px;
}
.auto .container {
    height: 487px;
    width: 1024px;
    background-image:url(../img/last-back.png); 
    /* center center/cover no-repeat;  */
    /* no-repeat 50% / cover; */
    background-color: #43AAFF;
    opacity: 0.9;
    border-radius:30px;
    overflow: hidden;
}
.auto-header .right-now {
    font-weight: 800;
font-size: 24px;
color: #FFFFFF;
margin-left: 80px;
margin-top: 20px;
}
.auto-body .fin-order{
    width: 270px;
height: 70px;
background: #FFC24D;
box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
margin-left: 80px;
font-weight: 400;
font-size: 13px;
letter-spacing: 0.15em;
color: #FFFFFF;
padding-top: 5px;
}
.auto-body .direct{
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
margin-left: 80px;
}
.mes-btn {
    position: relative;
    display: flex;
    margin-left: 80px;
    gap:9px;
}
.mes-btn .mes-tele, .mes-btn .mes-wu {
    width: 120px;
height: 70px;
background-color: #FFFFFF;
border-radius: 20px;
padding-top: 5px;
}
.tel-last {
    position: relative;
    display: flex;
    gap:35px;
} 
.tel-last .TEL-last{
    font-weight: 400;
font-size: 18px;
color: #FFFFFF;
margin-left: 80px;
margin-top: 24px;
}
.tel-last .sched-last{
    font-weight: 400;
font-size: 14px;
color: #FFFFFF;
margin-top: 30px;
}
.tel-last .circle-green {
    position: absolute;
width: 10px;
height: 10px;
border-radius: 5px;
background-color: #20FF87;
top:33px;
left: 250px;
}
.auto-img {
    position: relative;
}
.auto-img .auto-pic {
    position: absolute;
    top:-300px;
    left:410px;
}
.auto-img .last-kust {
    position: absolute;
    top:-30px;
    left:740px;
    z-index: 2;
}
.auto-img .last-bubbles {
    position: absolute;
    top:-450px;
    left:500px;
}