
.menu .wrapper {
    width: 1024px;
    display: flex;
    justify-content: space-around;
    gap: 0;
    box-shadow: 5px 4px 10px rgba(1, 1, 1, 0.288);
    border-radius:100px;
}
.wrapper .menu-btn{
   height: 70px;
   max-width: 100%;
   background-color:rgb(255, 255, 255);
   margin: 0;
   padding-bottom: 35px;
   font-size: 14px;
   font-weight: 400;
   color:     #4B5258;
}
.wrapper .menu-btn:hover{    
    background-color:#43AAFFFF;
    color: white;
 }